{{ define "main" }}
  <article class="max-w-full">
    <div class="fixed inset-x-0 top-0" style="z-index:-10">
        {{ $homepageImage := "" }}
        {{ $homepageImageDark := "" }}
        {{ with .Site.Params.defaultBackgroundImage }}
            {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                {{ $homepageImage = resources.GetRemote . }}
            {{ else }}
                {{ $homepageImage = resources.Get . }}
            {{ end }}
        {{ end }}
        {{ with .Site.Params.defaultBackgroundImageDark }}
            {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                {{ $homepageImageDark = resources.GetRemote . }}
            {{ else }}
                {{ $homepageImageDark = resources.Get . }}
            {{ end }}
        {{ end }}
        {{ with .Site.Params.homepage.homepageImage }}
            {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                {{ $homepageImage = resources.GetRemote . }}
            {{ else }}
                {{ $homepageImage = resources.Get . }}
            {{ end }}
        {{ end }}
        {{ with .Site.Params.homepage.homepageImageDark }}
            {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                {{ $homepageImageDark = resources.GetRemote . }}
            {{ else }}
                {{ $homepageImageDark = resources.Get . }}
            {{ end }}
        {{ end }}
        {{ if $homepageImage }}
        <img class="w-full h-screen object-cover m-0 nozoom block dark:hidden" src="{{ $homepageImage.RelPermalink }}" role="presentation" style="margin: 0">
        {{ end }}
        {{ if $homepageImageDark }}
        <img class="w-full h-screen object-cover m-0 nozoom" src="{{ $homepageImageDark.RelPermalink }}" role="presentation" style="margin: 0">
        {{ end }}
        <div
            class="absolute inset-0 h bg-gradient-to-t from-neutral dark:from-neutral-800 to-transparent mix-blend-normal">
        </div>
        <div
            class="opacity-60 absolute inset-0 h bg-gradient-to-t from-neutral dark:from-neutral-800 to-neutral-100 dark:to-neutral-800 mix-blend-normal">
        </div>
    </div>
    <header>
      {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
    </header>
    <section class="max-w-full mt-6 prose dark:prose-invert">
      {{ .Content }}
    </section>
    <footer class="pt-8">
      {{ partial "sharing-links.html" . }}
    </footer>
  </article>
{{ end }}
