@font-face {
    font-family: font;
    src: url('/fonts/Bahnschrift.ttf');
}

html {
    font-size: 18pt;
    font-family: font;
}

@layer utilites {
    /* .dark\:filter-invert {
        &:not(.dark *) {
          filter: invert(100%);
        }
      } */
    .dark\:unhidden {
        &:not(.dark *) {
            visibility: hidden;
        }
    }
    .caps {
        text-transform: uppercase;
    }
    .small-caps {
        font-variant: small-caps;
    }
        .rounded-b-full {
        border-bottom-right-radius: 9999px;
        border-bottom-left-radius: 9999px;
    }
}